<!DOCTYPE HTML>

<html>

	<head>
	
		<meta charset="utf-8">	
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
		
		<title>InfoCorp - System View</title>
	
		<link rel="shortcut icon" href="assets/img/favico.png">
		
		<link rel="shortcut icon" href="assets/img/cropped-ict-favicon-32x32.png" sizes="32x32" />
		<link rel="shortcut icon" href="assets/img/cropped-ict-favicon-192x192.png" sizes="192x192" />
		<link rel="apple-touch-icon-precomposed" href="assets/img/cropped-ict-favicon-180x180.png" />
		
		<link rel="stylesheet" type="text/css" href="assets/css/grid.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/core.css" >
		<link rel="stylesheet" type="text/css" href="assets/css/system.css" >
		
		<script type="text/javascript" src="assets/js/lib/jquery-3.2.1.min.js"></script>
	
	</head>
	
	<body>
	
		<header class="infocorp-header-container">
			<div class="container-fluid">
				<div class="row infocorp-header-row">
					<div class="col-sm-3">
						<a href="#" class="infocorp-logo-tag">
							<h3><img src="assets/img/logo-part.png" /> System</h3>
						</a>
					</div>
					<div class="col-sm-21">
						<div class="infocorp-breadcrumb-container">
						
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="infocorp-body-container">
			<div class="container-fluid">
				<div class="row infocorp-body-row">
					<div class="col-sm-3 infocorp-sidebar-container">
						<div class="infocorp-sidebar-user-widget">
							<table>
								<tr>
									<td><i class="fa fa-user"></i></td>
									<td>
										<label class="name">Sark</label>
										<label class="role">System</label>
									</td>
								</tr>
							</table>
						</div>
						<ul id="infocorp-primary-nav">
							<li><a href=""><i class="fa fa-link"></i> Block Chains</a></li>
							<li><a href=""><i class="fa fa-address-card"></i> Merchants</a></li>
							<li><a href=""><i class="fa fa-microchip"></i> Modules</a></li>
							<li><a href=""><i class="fa fa-gear"></i> Dictionary</a></li>
							<li><a href=""><i class="fa fa-sitemap"></i> Navigations</a></li>							
							<li><a href=""><i class="fa fa-users"></i> Users</a></li>
							<li><a href=""><i class="fa fa-tags"></i> Roles</a></li>								
							<li><a href=""><i class="fa fa-wrench"></i> Preferences</a></li>
						</ul>
					</div>
					<div class="col-sm-21">					
						
						
					</div>
				</div>
			</div>
		</div>
	
	</body>
	
</html>