.infocorp-header-container {
	top: 0;
    width: 100%;
	position: fixed;
}

.infocorp-body-row > div,
.infocorp-header-row > div {
	padding: 0px;
}

a.infocorp-logo-tag {
	height: 50px;
	display: block;
	line-height: 47px;
    padding: 0px 25px;
    background: #3C4252;
}

a.infocorp-logo-tag img {
	width: auto;
	height: 26px;
	margin-right: 10px;    
}

a.infocorp-logo-tag h3 {
	margin: 0px;
	color: #eaebed;
}

.infocorp-body-container {
	
}

.infocorp-sidebar-container {	
	top: 50px;
	left: 0px;
	height: 100%;
	padding: 0px;
	position: fixed;
	z-index: 1000000;
	min-height: 500px;  
	background: #3A3F4F;   
    transition-property: all;
    -webkit-transition-property: all;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.infocorp-sidebar-user-widget {
	color: #fff;
	padding: 15px 25px;
    background: rgba(255,255,255,.1);
}

.infocorp-sidebar-user-widget table {
	width: 100%;
}

.infocorp-sidebar-user-widget td:first-child {
	width: 42px;
	height: 42px;
	font-size: 22px;
	text-align: center;
    background: #3498db;
}

.infocorp-sidebar-user-widget td i {
	
}

.infocorp-sidebar-user-widget label.role,
.infocorp-sidebar-user-widget label.name {
	display: block;
	overflow: hidden;
	font-weight: 700;
	padding-left: 15px;
	white-space: nowrap;
  	text-overflow: ellipsis;
}

.infocorp-sidebar-user-widget label.role {
	font-weight: 300;
}

#infocorp-primary-nav {
	
}

#infocorp-primary-nav li {
    display: block;
    cursor: pointer;
    position: relative;
}

#infocorp-primary-nav li a {
	color: #b4b6bd;
	display: block;
	padding: 10px 24px;
    position: relative;
}

#infocorp-primary-nav li a i {
	width: 25px;
    font-size: 17px;
    display: inline-block;
}

#infocorp-primary-nav li a:hover {
	color: #fff;
	background: #32374a;
}

#infocorp-primary-nav li a.active {
	color: #fff;
	background: #3498db;
}

.infocorp-breadcrumb-container {
    width: 100%;
	height: 50px;
	background: #fff;  
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
	    -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
		 -o-box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
	        box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);  
}